@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-subjectivity-serif: var(--font-subjectivity-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-badge: var(--color-badge);
  --color-badge-border: var(--color-badge-border);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --leading-4: 0.9rem;

  --animate-fade-out: fade-out 300ms ease;

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    --background: oklch(100% 0 106.37);
    --foreground: oklch(13.71% 0.036 258.53);

    --primary: oklch(20.79% 0.0399 265.73);
    --primary-foreground: oklch(0.98 0 247.86 / 1);

    --secondary: oklch(96.84% 0.0068 247.9);
    --secondary-foreground: oklch(20.79% 0.0399 265.73);

    --muted: oklch(96.84% 0.0068 247.9);
    --muted-foreground: oklch(55.47% 0.0407 257.44);

    --accent: oklch(96.84% 0.0068 247.9);
    --accent-foreground: oklch(20.79% 0.0399 265.73);

    --destructive: oklch(63.68% 0.2078 25.33);
    --destructive-foreground: oklch(0.98 0 247.86 / 1);

    --border: oklch(92.9% 0.0126 255.53);
    --input: oklch(92.9% 0.0126 255.53);
    --ring: oklch(13.71% 0.036 258.53);

    --radius: 0.6rem;
  }

  .dark {
    --background: oklch(13.71% 0.036 258.53);
    --foreground: oklch(0.98 0 247.86 / 1);

    --primary: oklch(0.98 0 247.86 / 1);
    --primary-foreground: oklch(20.79% 0.0399 265.73);

    --secondary: oklch(28% 0.0369 259.97);
    --secondary-foreground: oklch(0.98 0 247.86 / 1);

    --muted: oklch(28% 0.0369 259.97);
    --muted-foreground: oklch(71.07% 0.0351 256.79);

    --accent: oklch(28% 0.0369 259.97);
    --accent-foreground: oklch(98.38% 0.0035 247.86);

    --destructive: oklch(39.59% 0.1331 25.72);
    --destructive-foreground: oklch(98.38% 0.0035 247.86);

    --border: oklch(28% 0.0369 259.97);
    --input: oklch(28% 0.0369 259.97);
    --ring: oklch(86.88% 0.0198 252.85);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3 {
    @apply font-subjectivity-serif tracking-tight scroll-m-20;
  }
}

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--primary);
  --tw-prose-headings: var(--primary);
  --tw-prose-bold: var(--primary);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-quotes: var(--muted-foreground);
  --tw-prose-code: var(--primary);

  code {
    &::before,
    &::after {
      display: none;
    }
  }

  blockquote {
    font-weight: 400;
  }
}

@utility container {
  margin-inline: auto;
  max-width: var(--container-3xl);
  min-height: 100dvh;
}

/* Hero picture */
.hero-img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  height: 16rem;
  width: 16rem;
  margin: auto;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* SHIKI */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
